@use '../custom' as *;

.principal{
    // padding-top: 3rem;
    padding-bottom: 3rem;

    //media query 768px
    @include media-breakpoint-up(md){
        padding-top: 5rem;
        padding-bottom: 10rem;
    }

    .img-header{
        border-radius: 50%;
    }

}

.logo{
    width: 10rem;
}

.enlace{
    &:hover{
        border-bottom: solid 3px black;
        font-size: 1.1rem;
    }
}